<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact form</title>
</head>
<body>
    <h2>Olá {{name}}</h2>
    <p>Você acabou de fazer login com seu email: {{email}} na plataforma Market Cubos.</p>
</body>
</html>